@using Core.Models
@using Core.Resources.Views.Culture;

@model List<CodeMaster>

@{
    ViewBag.Title = CultureViewResource.Title;
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>@CultureViewResource.SelectCulture</p>
<ul>
    @foreach (CodeMaster item in Model)
    {
        <li>
            @Html.ActionLink(item.LocalizedValue, "ChangeCulture", "Culture", new { lang = item.CodeMasterCode, returnUrl = ViewBag.ReturnUrl }, null)
        </li>
    }
</ul>