body {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 990px;
    margin: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* custom style*/
.web-header {
    display: block;
}

.web-logo {
    width: 240px;
    float: left;
}

.web-logo-image {
    width: 100%;
}

.web-top-nav {
    float: right;
}

    .web-top-nav .web-top-nav-1 {
        display: block;
    }

        .web-top-nav .web-top-nav-1 .web-top-nav-1-1,
        .web-top-nav .web-top-nav-1 .web-top-nav-1-2,
        .web-top-nav .web-top-nav-1 .web-top-nav-1-3,
        .web-top-nav .web-top-nav-1 .web-top-nav-1-4 {
            float: right;
        }

    .web-top-nav .web-top-nav-2 {
        display: block;
    }

        .web-top-nav .web-top-nav-2 .web-top-nav-2-1,
        .web-top-nav .web-top-nav-2 .web-top-nav-2-2,
        .web-top-nav .web-top-nav-2 .web-top-nav-2-3 {
            float: right;
        }
