/* Red Color: #c2091f */

body {
    min-width: 990px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: 'Segoe UI';
    background-color: white;
    /*background-image: url('/images/Bottom_texture.jpg');*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-width: 970px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    /*background-image: url('/images/Middle_texture.jpg');*/
    background-repeat: repeat-x;
    background-position: top left;
    background-attachment: fixed;
    min-height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region Social Menu*/
.web-social {
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 8%;
    z-index: 1000;
}

    .web-social a {
        height: 45px;
        width: 45px;
        display: block !important;
        clear: both;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-bottom-width: 0;
        font-size: 140%;
        line-height: 45px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
        color: #d7d7d7;
        cursor: pointer;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        background-repeat: no-repeat;
        text-decoration: none;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all 0 2s ease-in;
        -ms-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        margin: 0 !important;
        background-color: #eaeaea;
        background-image: -moz-linear-gradient(#fafafa, #eaeaea);
        background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
        background-image: linear-gradient(#fafafa, #eaeaea);
        background-repeat: repeat-y;
        border: 1px solid #eaeaea;
    }

        .web-social a:hover {
            background-color: #171aad;
            background-image: none;
            color: white;
        }

    .web-social .first {
        -webkit-border-top-left-radius: 6px !important;
        -moz-border-top-left-radius: 6px !important;
        border-top-left-radius: 6px !important;
    }

    .web-social .last {
        -webkit-border-bottom-left-radius: 6px !important;
        -moz-border-bottom-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
/*#endregion*/

/*#region Header customized style*/
.web-header {
    /*border: 1px solid #bebebe;*/
    background-color: transparent;
    width: 100% !important;
    text-align: center;
    /*padding: 10px 0;*/
    margin: 10px auto;
    margin-bottom: 0;
    /*margin-bottom: 5px;*/
    /*-moz-box-shadow: 0px 4px 16px #333;*/
    /*-webkit-box-shadow: 0px 4px 16px #333;*/
    /*box-shadow: 0px 4px 16px #333;*/
}

.mainHeaderFrame {
    /*border: 1px solid black;*/
    height: 100px;
    width: 970px;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
}

    .mainHeaderFrame .col25 {
        width: 23.5%;
        /*border: 1px solid #bebebe;*/
    }

    .mainHeaderFrame .col50 {
        width: 49%;
        max-width: 50%;
        border: 1px solid #bebebe;
    }

    .mainHeaderFrame .realtyLogo {
        height: 100px;
        float: left;
        margin-right: 1%;
        background-color: #f1f1f1;
    }

    .mainHeaderFrame .realtyInfo {
        height: 100px;
        float: left;
        /*margin-right: 1%;*/
    }

    .mainHeaderFrame .realtyLoginForm {
        float: right;
        height: 100px;
        /*overflow: hidden;*/
    }
/*#endregion*/

/*#region Main menu styles */
.mainMenu {
    /*border: 1px solid #bebebe;
    background: #bebebe;
    height: 40px;*/
    min-width: 970px;
    max-width: 970px;
    margin: 10px auto;
}

#nav {
    position: relative;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #eaeaea;
    border-bottom-color: #cacaca;
    border-radius: 3px;
    -webkit-padding-start: 0;
}

    #nav li {
        list-style-type: none;
        margin: 0;
        display: table-cell;
        width: 1%;
    }

    #nav a {
        display: block;
        text-align: center;
        line-height: 35px;
        font-size: 12px;
        color: #777;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        border-right: 1px solid #eee;
        border-right-color: rgba(0,0,0,0.04);
        border-left: 1px solid #fcfcfc;
        border-left-color: rgba(255,255,255,0.7);
        border-bottom: 2px solid #dadada;
    }

    /* selected menu element */
    #nav .current a, #nav li:hover > a {
        border-bottom: 2px solid #d26911;
        color: #4183c4;
        background-color: #dce6ef;
        background-image: -moz-linear-gradient(#fafbfd, #dce6ef);
        background-image: -webkit-linear-gradient(#fafbfd, #dce6ef);
        background-image: linear-gradient(#fafbfd, #dce6ef);
        background-repeat: repeat-x;
    }

    /* sublevels */
    #nav ul li:hover a, #nav li:hover li a {
        background: none;
        border: none;
        color: #000;
    }

    #nav ul li a:hover {
        color: #4183c4;
        border-bottom: 2px solid rgba(17, 62, 210, 0.89) !important;
        background-color: #dce6ef;
        background-image: -moz-linear-gradient(#fafbfd, #dce6ef);
        background-image: -webkit-linear-gradient(#fafbfd, #dce6ef);
        background-image: linear-gradient(#fafbfd, #dce6ef);
        background-repeat: repeat-x;
    }

    #nav > li:first-child > a {
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-topleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-top-left-radius: 3px;
    }

    #nav ul li:last-child > a {
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
    }

    /* drop down */
    #nav li:hover > ul {
        opacity: 1;
        visibility: visible;
    }

    #nav ul {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: bold;
        background-color: #eaeaea;
        background-image: -moz-linear-gradient(#fafafa, #eaeaea);
        background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
        background-image: linear-gradient(#fafafa, #eaeaea);
        background-repeat: repeat-x;
        border: 1px solid #eaeaea;
        border-bottom-color: #cacaca;
        border-radius: 3px;
        -webkit-padding-start: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
    }

        #nav ul li {
            float: none;
            margin: 0;
            display: list-item;
            width: auto;
        }

            #nav ul li a {
                min-width: 100px;
                width: auto;
                font-weight: bold;
                text-shadow: 0 2px 2px rgba(255,255,255, 0.7);
                text-align: left;
                padding: 0 15px;
                display: block;
                line-height: 35px;
                font-size: 12px;
                color: #777;
                text-decoration: none;
                border-top: 1px solid rgba(0,0,0,0.04) !important;
                border-bottom: 1px solid rgba(255,255,255,0.7) !important;
            }

        #nav ul a i {
            padding-right: 5px;
        }

/*#endregion*/

/*#region Body customized style*/
.web-body {
    height: auto;
    /*background-color: #f2f2f2;*/
    position: relative;
    /*padding-bottom: 10px;*/
    margin: 0 auto;
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,0) 100%);*/
    /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,0)));*/
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00f7f7f7',GradientType=0 ); /* IE6-9 */
    background: none;
    background-color: transparent;
}

    .web-body .bodyContentTop {
        width: 970px;
        min-height: 200px;
        height: auto;
        padding: 0 0 10px 0;
        margin: 0px auto;
        position: relative;
    }

        .web-body .bodyContentTop .col25 {
            width: 23.5%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col25End {
            width: 23.5%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col40 {
            width: 39%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col50 {
            width: 49%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col60 {
            width: 59%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col75 {
            width: 75%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .col100 {
            width: 100%;
            border: 1px solid #bebebe;
        }

        .web-body .bodyContentTop .spvContentFrm {
            width: 100%;
            height: 140px;
            margin-bottom: 10px;
        }

            .web-body .bodyContentTop .spvContentFrm > div {
                float: left;
                width: 20%;
                background-color: white;
                border: 1px solid #ccc;
                border-width: 1px 1px 1px 0;
                height: 100%;
                text-align: center;
            }

                .web-body .bodyContentTop .spvContentFrm > div:first-child {
                    -webkit-border-radius: 4px 0 0 4px;
                    -moz-border-radius: 4px 0 0 4px;
                    border-radius: 4px 0 0 4px;
                    border-left: 1px solid #ccc;
                }

                .web-body .bodyContentTop .spvContentFrm > div:last-child {
                    /*-webkit-border-radius: 4px 0 0 4px;
                    -moz-border-radius: 4px 0 0 4px;
                    border-radius: 4px 0 0 4px;*/
                    -webkit-border-radius: 0 4px 4px 0;
                    -moz-border-radius: 0 4px 4px 0;
                    border-radius: 0 4px 4px 0;
                    overflow: hidden;
                    width: auto;
                    float: none;
                }

                .web-body .bodyContentTop .spvContentFrm > div div.realtyVipImg {
                    width: 70%;
                    height: 60%;
                    text-align: center;
                    /*border: 1px solid #ccc;*/
                    margin: 0 auto;
                }

                    .web-body .bodyContentTop .spvContentFrm > div div.realtyVipImg img {
                        width: auto;
                        height: 100%;
                    }

                .web-body .bodyContentTop .spvContentFrm > div div.realtyVipInfo {
                    width: 95%;
                    height: 38%;
                    max-height: 37%;
                    overflow: hidden;
                    text-align: center;
                    /*border: 1px solid #ccc;*/
                    margin: 0 auto;
                }

                    .web-body .bodyContentTop .spvContentFrm > div div.realtyVipInfo span {
                        font-weight: bold;
                        font-size: 14px;
                        color: #2220cc;
                    }

        .web-body .bodyContentTop .outerFrame {
            margin-bottom: 10px;
            /*border: 1px solid #ccc;*/
            background-color: white;
            width: 100%;
        }

        .web-body .bodyContentTop .innerFrame {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

            .web-body .bodyContentTop .innerFrame .contentLeft {
                border: 1px solid #ccc;
                width: 65%;
                min-height: 200px;
                float: left;
                margin: 0;
                padding: 0;
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
            }

            .web-body .bodyContentTop .innerFrame .contentRight {
                border: 1px solid #ccc;
                border-left: none;
                width: auto;
                max-width: 35%;
                min-height: 200px;
                overflow: hidden;
                margin: 0;
                margin-bottom: 10px;
                padding: 0;
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;
            }

                .web-body .bodyContentTop .innerFrame .contentRight .containTab {
                    border: 1px solid #ccc;
                    border-width: 0 0 1px 0;
                    width: 100%;
                    height: auto;
                }

                    .web-body .bodyContentTop .innerFrame .contentRight .containTab:last-child {
                        border: none;
                    }

                    .web-body .bodyContentTop .innerFrame .contentRight .containTab .headertitle {
                        border: 1px solid #ccc;
                        border-width: 0 1px 1px 0;
                        width: 65%;
                        background-color: #f2f2f2;
                        height: 30px;
                        -webkit-border-radius: 0 0 4px 0;
                        -moz-border-radius: 0 0 4px  0;
                        border-radius: 0 0 4px 0;
                        text-align: center;
                        position: relative;
                    }

                        .web-body .bodyContentTop .innerFrame .contentRight .containTab .headertitle span {
                            line-height: 30px;
                            color: rgb(30,87,153);
                            font-weight: bold;
                        }

                        .web-body .bodyContentTop .innerFrame .contentRight .containTab .headertitle img {
                            position: absolute;
                            left: 5px;
                            top: 2px;
                            z-index: 1;
                            width: 26px;
                        }

                .web-body .bodyContentTop .innerFrame .contentRight .searchFrm {
                    border: 1px solid #bebebe;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                    width: 95%;
                    height: 30px;
                    margin: 5px auto;
                    text-align: center;
                }

                    .web-body .bodyContentTop .innerFrame .contentRight .searchFrm input[type=text] {
                        line-height: 20px;
                        width: 87%;
                        max-width: 87%;
                        outline: none;
                        padding: 4px;
                        border: none;
                    }

                    .web-body .bodyContentTop .innerFrame .contentRight .searchFrm i {
                        color: #061ca4;
                        font-size: 15px;
                        cursor: pointer;
                    }

                .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch {
                    border: none;
                }

                    .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch ul {
                        background: none !important;
                        border-width: 0 0 1px 0;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }

                        .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch ul li {
                            font-size: 9px;
                            outline: none;
                        }

                            .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch ul li a {
                                outline: none;
                            }

                    .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div {
                        text-align: center;
                    }

                        .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div span._advance {
                            display: none;
                        }

                        .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div .buttonLink {
                            color: rgba(41,53,219,1);
                            font-size: 12px;
                            text-align: left;
                            cursor: pointer;
                        }

                        .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div input {
                            width: 99%;
                            height: 30px;
                            max-width: 100%;
                            font-size: 14px;
                            margin-bottom: 5px;
                            outline: none;
                        }

                        .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div select {
                            width: 100%;
                            height: 30px;
                            max-width: 100%;
                            font-size: 14px;
                            margin-bottom: 5px;
                            outline: none;
                        }

                            .web-body .bodyContentTop .innerFrame .contentRight div#tabsSearch > div select > option:first-child {
                                text-align: justify;
                                text-indent: 50px;
                            }

        .web-body .bodyContentTop .outerFrame .bodyContentMainSearchingForm {
            float: left;
            min-height: 200px;
            height: auto;
            background: #fff;
            margin-right: 1%;
        }

            .web-body .bodyContentTop .outerFrame .bodyContentMainSearchingForm .searchHeader {
                width: auto;
                height: 30px;
                border: 1px solid #333;
                background-color: #bebebe;
                text-align: center;
                position: relative;
            }

                .web-body .bodyContentTop .outerFrame .bodyContentMainSearchingForm .searchHeader > span {
                    color: white;
                    line-height: 30px;
                    font-weight: bold;
                }

                .web-body .bodyContentTop .outerFrame .bodyContentMainSearchingForm .searchHeader img.icon {
                    position: absolute;
                    top: -10px;
                    left: 5px;
                }

        .web-body .bodyContentTop .outerFrame .bodyContentSearchRealtyVip {
            float: left;
            height: 200px;
            /*background: green;*/
        }

            .web-body .bodyContentTop .outerFrame .bodyContentSearchRealtyVip .realtySearchField {
                width: 99%;
                height: 30px;
                margin: 0 auto;
            }

                .web-body .bodyContentTop .outerFrame .bodyContentSearchRealtyVip .realtySearchField input[type=text] {
                    border: 1px solid #bebebe;
                    line-height: 20px;
                    width: 80%;
                    max-width: 80%;
                    outline: none;
                    padding: 4px;
                }

        .web-body .bodyContentTop .outerFrame .bodyContentRealtyVip {
            height: 200px;
            float: right;
            /*background: red;*/
            /*overflow: hidden;*/
        }

            .web-body .bodyContentTop .outerFrame .bodyContentRealtyVip .realyVipInfo {
                width: auto;
                height: 30px;
                border: 1px solid #333;
                background-color: #bebebe;
                text-align: center;
                position: relative;
            }

                .web-body .bodyContentTop .outerFrame .bodyContentRealtyVip .realyVipInfo > span {
                    color: white;
                    line-height: 30px;
                    font-weight: bold;
                }

    .web-body .bodyContentBottom {
        min-height: 100px;
        width: 970px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px 0;
        border: 1px solid #bebebe;
        /*background: #b94a48;*/
    }

.web-footer {
    width: 100%;
    /*border: 1px solid #bebebe;*/
    background: #bebebe;
    margin: 0 auto;
}

    .web-footer .footer {
        height: 300px;
        /*background: #bebebe;*/
        background: rgb(30,87,153); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVlYWFlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(94,170,229,1) 50%, rgba(32,124,202,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(94,170,229,1)), color-stop(100%,rgba(32,124,202,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(94,170,229,1) 50%,rgba(32,124,202,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(94,170,229,1) 50%,rgba(32,124,202,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(94,170,229,1) 50%,rgba(32,124,202,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(94,170,229,1) 50%,rgba(32,124,202,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-8 */
    }
/*#endregion*/

/*#region General style*/
.clear {
    clear: both;
}

.fullBoderRadius {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.topLeftRightBoderRadius {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.boxShadowBoderBottom {
    -moz-box-shadow: 0px 10px 11px #2b292b;
    -webkit-box-shadow: 0px 10px 11px #2b292b;
    box-shadow: 0px 10px 11px #2b292b;
}

.button {
    height: 20px;
    min-width: 50px;
    width: 15%;
    padding: 4px;
    color: white;
    font-weight: bold;
    background: #bebebe;
    border: 1px solid #d7011a;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
}

    .button:hover {
        /*background-color: rgba(194, 9, 31, 0.90);*/
    }

    .button:active {
        top: 1px;
        background-color: rgba(194, 9, 31, 0.90);
    }

    .button i {
        font-size: 17px;
    }
/*#endregion*/

/*#region Index Content*/
div.realtyContentFrm {
    /*border: 1px solid red;*/
    width: 100%;
    height: auto;
    /*padding: 5px;*/
}

    div.realtyContentFrm .headerTitle {
        border: 1px solid #ccc;
        border-width: 0 1px 1px 0;
        width: 45%;
        background-color: #f2f2f2;
        height: 30px;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
        text-align: center;
        position: relative;
    }

        div.realtyContentFrm .headerTitle span {
            line-height: 30px;
            color: rgb(30,87,153);
            font-weight: bold;
        }

        div.realtyContentFrm .headerTitle img {
            position: absolute;
            left: 5px;
            top: 2px;
            z-index: 1;
            width: 28px;
        }

    div.realtyContentFrm div.realtyVip,
    div.realtyContentFrm div.realtyNormal {
        width: inherit;
        height: auto;
    }

        div.realtyContentFrm div.realtyVip ul,
        div.realtyContentFrm div.realtyNormal ul {
            list-style: none;
            width: inherit;
            margin: 0;
            padding: 0;
        }

            div.realtyContentFrm div.realtyVip ul li {
                display: list-item;
                border: 1px solid #ccc;
                border-width: 0 0 1px 0;
                height: 100px;
                width: 95%;
                padding-top: 10px;
                margin: 0 auto;
            }

                div.realtyContentFrm div.realtyVip ul li .realtyImg {
                    /*border: 1px solid #ccc;*/
                    width: 120px;
                    height: 100px;
                    float: left;
                }

                    div.realtyContentFrm div.realtyVip ul li .realtyImg img {
                        /*border: 1px solid #ccc;*/
                        width: 100%;
                        height: 100%;
                    }

                div.realtyContentFrm div.realtyVip ul li .infoDetail {
                    /*border: 1px solid #ccc;*/
                    height: 100%;
                    overflow: hidden;
                    padding-left: 15px;
                }

                    div.realtyContentFrm div.realtyVip ul li .infoDetail > div {
                        height: 20px;
                        font-size: 13px;
                        /*border: 1px solid #ccc;*/
                    }

                        div.realtyContentFrm div.realtyVip ul li .infoDetail > div span.bold {
                            font-weight: bold;
                        }

                        div.realtyContentFrm div.realtyVip ul li .infoDetail > div span.date {
                            float: right;
                        }

                    div.realtyContentFrm div.realtyVip ul li .infoDetail .title {
                        min-height: 30px;
                        height: auto;
                        max-height: 40px;
                        color: #1039bd;
                        font-weight: bold;
                        font-size: 14px;
                        overflow: hidden;
                    }

        /*#region paging style*/
        div.realtyContentFrm div.realtyVip .realtyContentPaging {
            /*border: 1px solid #ccc;*/
            width: 95%;
            height: 30px;
            margin-top: 5px;
            text-align: center;
        }

            div.realtyContentFrm div.realtyVip .realtyContentPaging span {
                border: 1px solid #ccc;
                color: #ccc;
                line-height: 30px;
                cursor: pointer;
                position: relative;
            }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span.selected {
                    background-color: #25bd2d;
                    color: white;
                }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span:hover {
                    color: #333;
                }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span:active {
                    top: 1px;
                }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span:first-child {
                    -webkit-border-radius: 25px 0 0 25px;
                    -moz-border-radius: 25px 0 0 25px;
                    border-radius: 25px 0 0 25px;
                }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span:last-child {
                    -webkit-border-radius: 0 25px 25px 0;
                    -moz-border-radius: 0 25px 25px 0;
                    border-radius: 0 25px 25px 0;
                }

                div.realtyContentFrm div.realtyVip .realtyContentPaging span i {
                    padding: 5px;
                }
        /*#endregion*/

        div.realtyContentFrm div.realtyNormal ul li {
            display: list-item;
            border: 1px solid #ccc;
            border-width: 0 0 1px 0;
            height: 60px;
            width: 95%;
            padding-top: 10px;
            margin: 0 auto;
        }

            div.realtyContentFrm div.realtyNormal ul li .realtyImg {
                /*border: 1px solid #ccc;*/
                width: 50px;
                height: 50px;
                float: left;
            }

                div.realtyContentFrm div.realtyNormal ul li .realtyImg img {
                    /*border: 1px solid #ccc;*/
                    width: 100%;
                    height: 100%;
                }

            div.realtyContentFrm div.realtyNormal ul li .infoDetail {
                /*border: 1px solid #ccc;*/
                height: 100%;
                overflow: hidden;
                padding-left: 15px;
            }

                div.realtyContentFrm div.realtyNormal ul li .infoDetail > div {
                    height: 20px;
                    font-size: 13px;
                    /*border: 1px solid #ccc;*/
                }

                    div.realtyContentFrm div.realtyNormal ul li .infoDetail > div span.bold {
                        font-weight: bold;
                    }

                    div.realtyContentFrm div.realtyNormal ul li .infoDetail > div span.date {
                        float: right;
                    }

                div.realtyContentFrm div.realtyNormal ul li .infoDetail .title {
                    min-height: 35px;
                    height: auto;
                    max-height: 35px;
                    color: #1039bd;
                    font-weight: bold;
                    font-size: 14px;
                    overflow: hidden;
                }

        /*#region paging style*/
        div.realtyContentFrm div.realtyNormal .realtyContentPaging {
            /*border: 1px solid #ccc;*/
            width: 95%;
            height: 20px;
            margin-top: 5px;
            text-align: center;
        }

            div.realtyContentFrm div.realtyNormal .realtyContentPaging span {
                border: 1px solid #ccc;
                color: #ccc;
                line-height: 20px;
                cursor: pointer;
                position: relative;
            }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span.selected {
                    background-color: #25bd2d;
                    color: white;
                }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span:hover {
                    color: #333;
                }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span:active {
                    top: 1px;
                }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span:first-child {
                    -webkit-border-radius: 25px 0 0 25px;
                    -moz-border-radius: 25px 0 0 25px;
                    border-radius: 25px 0 0 25px;
                }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span:last-child {
                    -webkit-border-radius: 0 25px 25px 0;
                    -moz-border-radius: 0 25px 25px 0;
                    border-radius: 0 25px 25px 0;
                }

                div.realtyContentFrm div.realtyNormal .realtyContentPaging span i {
                    padding: 5px;
                }

    div.realtyContentFrm div#realtyNewsTabs {
        margin: 0 auto;
        padding: 0px;
        border: none;
    }

        div.realtyContentFrm div#realtyNewsTabs .realtyNewsHeader {
            border: 1px solid #888;
            border-width: 0 0 1px 0;
            background-color: #ebebeb;
            height: 30px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

            div.realtyContentFrm div#realtyNewsTabs .realtyNewsHeader span a {
                text-decoration: none;
            }

            div.realtyContentFrm div#realtyNewsTabs .realtyNewsHeader span:first-child {
                line-height: 34px;
                padding: 5px;
                color: white;
                background-color: #888;
                border: 1px solid #888;
                -webkit-border-radius: 4px 4px 0 0;
                -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
            }

        div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;
        }

            div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupNews {
                /*border: 1px solid #ccc;*/
                width: 48%;
                min-height: 90px;
                max-height: 90px;
                overflow: hidden;
                padding: 2px;
                display: inline-block;
                margin: 2px 0 2px 3px;
                font-size: 12px;
                float: left;
            }

                div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupNews a a {
                    overflow: hidden;
                    float: left;
                    font-size: 14px;
                    text-decoration: none;
                }

                div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupNews img {
                    /*border: 1px solid #ccc;*/
                    width: 90px;
                    height: 90px;
                    margin: 0 2px;
                    float: left;
                }

                div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupNews p {
                    text-align: justify;
                    /*border: 1px solid #ccc;*/
                }

            div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupAnotherNews {
                border: 1px solid #ccc;
                width: 95%;
                height: 150px;
                margin: 10px auto;
                background-color: #f6f3f3;
            }

                div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupAnotherNews ul {
                }

                    div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupAnotherNews ul li {
                        list-style: square;
                        text-align: left;
                        color: rgba(32,124,202,1);
                        cursor: pointer;
                    }

                        div.realtyContentFrm div#realtyNewsTabs .realtyNewsBody .realtyGroupAnotherNews ul li a {
                            text-decoration: none;
                            color: inherit;
                        }

    /*#endregion*/
    div.realtyContentFrm::selection,
    div.realtyContentFrm ul::selection,
    div.realtyContentFrm ul li::selection,
    div.realtyContentFrm ul li .realtyImg::selection,
    div.realtyContentFrm ul li .realtyImg img::selection,
    div.realtyContentFrm .realtyContentPaging::selection,
    .realtyContentPaging span::selection,
    .realtyContentPaging span i::selection {
        background-color: transparent;
    }

/*#endregion*/
