<input placeholder="Nhập địa điểm bất động sản" />
<select>
    <option> -- Chọn loại nhà đất -- </option>
</select>
<select>
    <option> -- Chọn Tỉnh/Thành phố -- </option>
</select>
<select>
    <option> -- Chọn Quận/Huyện -- </option>
</select>
<select>
    <option> -- Chọn diện tích -- </option>
</select>
<select>
    <option> -- Chọn mức giá -- </option>
</select>

<span class="_advance">
    <select>
        <option> -- Hướng -- </option>
    </select>

    <select>
        <option> -- Dự án -- </option>
    </select>

    <select>
        <option> -- Kiểu giao dịch -- </option>
        <option> Đại lý </option>
        <option> Chính chủ </option>
    </select>
</span>
<span class="_basic">
    <div class="buttonLink" onclick="AdvanceSearch(true)">Tìm kiếm nâng cao</div>
</span>
<span class="_advance">
    <div class="buttonLink" onclick="AdvanceSearch(false)">Bỏ tìm nâng cao</div>
</span>