<div class="web-social">
    <a href="https://www.facebook.com" target="_blank" class="first">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://plus.google.com" target="_blank">
        <i class="fa fa-google-plus"></i>
    </a>
    <a href="mailto:ngohuuloc@gmail.com" target="_blank" class="last">
        <i class="fa fa-envelope"></i>
    </a>
</div>