<div class="row">
    <div class="col-sm-4 col-md-3">
        <img class="web-logo-main" src="~/images/logo-main.png" alt="logo-main" />
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="row">
            <div class="col-md-12 web-glyphicon-blocks web-nav-top">
                <a class="web-glyphicon-block col-xs-12 col-sm-6 col-md-4" href="#">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span class="glyphicon-class">Đăng bán | Cho thuê</span>
                </a>
                <a class="web-glyphicon-block col-xs-12 col-sm-6 col-md-3" href="#">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span class="glyphicon-class">Hổ trợ trực tuyến</span>
                </a>
                <a class="web-glyphicon-block col-xs-12 col-sm-6 col-md-3" href="#">
                    <span class="glyphicon glyphicon-earphone"></span>
                    <span class="glyphicon-class">+84 98 458 21 88</span>
                </a>
                <a class="web-glyphicon-block col-xs-12 col-sm-6 col-md-2" href="#">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span class="glyphicon-class">English</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 web-fa-blocks web-nav-top">
                <a class="web-fa-social-block" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="web-fa-social-block" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="web-fa-social-block" href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="web-fa-social-block" href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
            <div class="col-md-9 web-glyphicon-blocks-o">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Tài khoản">
                        <input type="text" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <button type="submit" class="btn btn-xs">Đăng nhập</button>
                    <button type="submit" class="btn btn-xs">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>