<div class="mainHeaderFrame topLeftRightBoderRadius">
    <div class="realtyLogo col25 fullBoderRadius">

    </div>
    <div class="realtyInfo col25 fullBoderRadius">

    </div>
    <div class="realtyLoginForm col50 fullBoderRadius">

    </div>
</div>

<div class="mainMenu fullBoderRadius">

</div>

<div class="clear"></div>