<div class="mainHeaderFrame topLeftRightBoderRadius">
    <div class="realtyLogo col25 fullBoderRadius">

    </div>
    <div class="realtyInfo col25 fullBoderRadius">

    </div>
    <div class="realtyLoginForm col50 fullBoderRadius">

    </div>
</div>

<div class="mainMenu fullBoderRadius">
    <ul id="nav">
        <li style="position: relative;"><a href="#"><i class="fa fa-home" style="font-size: 36px; position: absolute; bottom: 0; left: 0; right: 0;"></i>&nbsp;</a></li>
        <li>
            <a href="#">Nhà đất bán</a>
            <ul>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 1</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 2</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 3</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 4</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 5</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 6</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 7</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Nhà đất mua</a>
        </li>
        <li><a href="#">Nhà cho thuê</a></li>
        <li><a href="#">Dự án</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Kinh nghiệm</a></li>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="#">Hỏi đáp</a></li>
        <li>
            <a href="#">Nhà đất bán</a>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Quận 1</a>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 2</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 3</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 4</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 5</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 6</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i>Quận 7</a></li>
            </ul>
        </li>
        
    </ul>
</div>

<div class="clear"></div>