<div class="mainHeaderFrame topLeftRightBoderRadius">
    <div class="realtyLogo col25 fullBoderRadius">

    </div>
    <div class="realtyInfo col25 fullBoderRadius">

    </div>
    <div class="realtyLoginForm col50 fullBoderRadius">

    </div>
</div>

<div class="mainMenu fullBoderRadius">
    <ul id="nav">
        <li><a href="#"><i class="fa fa-home" style="font-size: 36px; position: absolute; left: 10px; bottom: -20px;"></i></a></li>
        <li>
            <a href="#">Nhà đất bán</a>
            <ul>
                <li>
                    <a href="#">Quận 1</a>
                    <ul>
                        <li><a href="#">Nhà trong hẻm</a></li>
                        <li><a href="#">Nhà mặt tiền</a></li>
                    </ul>
                </li>
                <li><a href="#">Quận 2</a></li>
                <li><a href="#">Quận 3</a></li>
                <li><a href="#">Quận 4</a></li>
                <li><a href="#">Quận 5</a></li>
                <li><a href="#">Quận 6</a></li>
                <li><a href="#">Quận 7</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Nhà đất mua</a>
        </li>
        <li><a href="#">Nhà cho thuê</a></li>
        <li><a href="#">Dự án</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Kinh nghiệm</a></li>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="#">Hỏi đáp</a></li>
    </ul>
</div>

<div class="clear"></div>