@model IEnumerable<Core.Models.Account>

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var account in Model)
            {
                <li>@account.AccountName</li>
            }
        </ul>

        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            <input type="text" name="AccountName" />
            <input type="submit" value="Submit" />
        }
    </div>
</div>